## Cleaning the study dataset

In [1]:
""" Import packages """
import sys
import logging
import warnings

import numpy as np
import pandas as pd

sys.path.insert(0, '../scripts/')

logging.basicConfig(filename='../logs/data_cleaning.log', filemode='a',
                    encoding='utf-8', level=logging.DEBUG)

warnings.filterwarnings("ignore")

In [2]:
from explorer import DataTransformer
from dataframe_info_extractor import DataFrameInfo
from utils_cleaner import DataFrameCleaner

transformer = DataTransformer()

In [3]:
REPO = "./"
filepath = "../data/cleaned/study_dataset.csv"

### Importing

In [4]:
data = transformer.load_data(ext="csv", filepath=filepath, repo=REPO)
data.head()

,Country,Year,Deaths_df2,admin,adm0_a3,Cases,Deaths_df3,Deaths0_4,Deaths5_14,Deaths15_49,...,"School enrollment, primary and secondary (gross), gender parity index (GPI)",Total greenhouse gas emissions (% change from 1990),Total greenhouse gas emissions (kt of CO2 equivalent),Urban population,Urban population (% of total population)_df9,Urban population growth (annual %)_df9,ISO3_y,Participated in MVIP,Participated in RTS Trials,Participated in R21 Trials
0,Burkina Faso,2000-12-31,NaN,Burkina Faso,BFA,603.210999,235.128065,874.845987,25.571181,62.627879,...,0.70023,282.438168,15984.91011,2120383.0,17.844,6.857565,BFA,0,0,0
1,Burkina Faso,2001-12-31,4233.0,Burkina Faso,BFA,601.937744,256.009859,918.916428,27.686540,66.619251,...,0.71276,239.296602,15108.11122,2271106.0,18.540,6.867020,BFA,0,0,0
2,Burkina Faso,2002-12-31,4032.0,Burkina Faso,BFA,595.852051,260.730606,958.846796,29.485652,72.230232,...,NaN,312.002599,15786.33044,2432722.0,19.258,6.874386,BFA,0,0,0
3,Burkina Faso,2003-12-31,4860.0,Burkina Faso,BFA,585.123291,271.081041,965.412955,29.644367,72.615529,...,0.73722,259.750243,19200.72446,2605597.0,19.996,6.865103,BFA,0,0,0
4,Burkina Faso,2004-12-31,4205.0,Burkina Faso,BFA,562.411316,264.250419,925.186169,27.621911,71.165711,...,0.76660,256.220676,19733.29397,2790981.0,20.757,6.873132,BFA,0,0,0

In [5]:
# Rename [adm0_a3, Year] to [ISO3, Date] and set index [ISO3, Date]
data = data.rename(columns={"ISO3_x": "ISO3", "Year": "Date"})

In [6]:
datainfo = DataFrameInfo(data)
datacleaner = DataFrameCleaner(data)

### Inspecting the dataset

In [7]:
# Drop non informative columns
non_informative_columns = ["Country", "admin", "adm0_a3", "Country Name", "Country Code", "Country Name_df9", "ISO3_y"]
datacleaner.drop_columns(non_informative_columns)

In [8]:
data.head()

,Date,Deaths_df2,Cases,Deaths_df3,Deaths0_4,Deaths5_14,Deaths15_49,Deaths50_69,Deaths70p,ITN,...,Renewable energy consumption (% of total final energy consumption),"School enrollment, primary and secondary (gross), gender parity index (GPI)",Total greenhouse gas emissions (% change from 1990),Total greenhouse gas emissions (kt of CO2 equivalent),Urban population,Urban population (% of total population)_df9,Urban population growth (annual %)_df9,Participated in MVIP,Participated in RTS Trials,Participated in R21 Trials
0,2000-12-31,NaN,603.210999,235.128065,874.845987,25.571181,62.627879,450.176799,717.149334,0.0,...,85.40,0.70023,282.438168,15984.91011,2120383.0,17.844,6.857565,0,0,0
1,2001-12-31,4233.0,601.937744,256.009859,918.916428,27.686540,66.619251,469.845175,876.388458,0.0,...,85.49,0.71276,239.296602,15108.11122,2271106.0,18.540,6.867020,0,0,0
2,2002-12-31,4032.0,595.852051,260.730606,958.846796,29.485652,72.230232,505.134949,743.621255,0.0,...,85.43,NaN,312.002599,15786.33044,2432722.0,19.258,6.874386,0,0,0
3,2003-12-31,4860.0,585.123291,271.081041,965.412955,29.644367,72.615529,508.274478,881.413820,1.9,...,85.30,0.73722,259.750243,19200.72446,2605597.0,19.996,6.865103,0,0,0
4,2004-12-31,4205.0,562.411316,264.250419,925.186169,27.621911,71.165711,498.971133,873.945620,0.0,...,85.31,0.76660,256.220676,19733.29397,2790981.0,20.757,6.873132,0,0,0

In [9]:
datainfo.get_dimension()

 There are 115 rows and 77 columns

In [10]:
datainfo.get_percent_missing()

The dataset contains 19.54 % missing values.

### Inspect and cleaning country by country

In [11]:
datacleaner.remove_more_20p_missing_values("ISO3")

Your selected dataframe has 77 columns.
There are 27 columns that have missing values greater than 20%.
Your selected dataframe has 77 columns.
There are 28 columns that have missing values greater than 20%.
Your selected dataframe has 77 columns.
There are 30 columns that have missing values greater than 20%.
Your selected dataframe has 77 columns.
There are 28 columns that have missing values greater than 20%.

Your selected dataframe has 77 columns.
There are 29 columns that have missing values greater than 20%.

In [12]:
datainfo.get_dimension()

 There are 115 rows and 47 columns

In [13]:
datainfo.get_percent_missing()

The dataset contains 6.05 % missing values.

In [14]:
datainfo.missing_values_table()

Your selected dataframe has 47 columns.
There are 34 columns that have missing values greater than 0%.

,Missing Values,% of Total Values,Dtype
Deaths_df3,15,13.0,float64
Deaths0_4,15,13.0,float64
Deaths5_14,15,13.0,float64
Deaths15_49,15,13.0,float64
Deaths50_69,15,13.0,float64
Deaths70p,15,13.0,float64
CO2 emissions (kt),10,8.7,float64
Average precipitation in depth (mm per year),10,8.7,float64
CO2 emissions (kg per 2015 US$ of GDP),10,8.7,float64
CO2 emissions (kg per 2017 PPP $ of GDP),10,8.7,float64
CO2 emissions (kg per PPP $ of GDP),10,8.7,float64
Cases,10,8.7,float64
CO2 emissions (metric tons per capita),10,8.7,float64
Forest area (% of land area),10,8.7,float64
Arable land (% of land area),10,8.7,float64
Methane emissions (kt of CO2 equivalent),10,8.7,float64
Nitrous oxide emissions (thousand metric tons of CO2 equivalent),10,8.7,float64
Forest area (sq. km),10,8.7,float64
"Annual freshwater withdrawals, total (billion cubic meters)",10,8.7,float64
"Annual freshwater withdrawals, total (% of internal resources)",10,8.7,float64
Agricultural land (sq. km),10,8.7,float64
Agricultural land (% of land area),10,8.7,float64
ITN,10,8.7,float64
Total greenhouse gas emissions (kt of CO2 equivalent),10,8.7,float64
Presumed cases,9,7.8,object
Renewable energy consumption (% of total final energy consumption),8,7.0,float64
Total cases,6,5.2,object
Access to electricity (% of population),5,4.3,float64
Min Temperature,5,4.3,float64
Precipitation,5,4.3,float64
Cereal yield (kg per hectare),5,4.3,float64
ITN Access Population (%),5,4.3,float64
"Mortality rate, under-5 (per 1,000 live births)",5,4.3,float64
"Foreign direct investment, net inflows (% of GDP)",4,3.5,float64

In [15]:
# Fill missing values
datacleaner.fill_missing("ISO3")

In [16]:
# Convert Date to datetime
datacleaner.convert_to_date("Date")

In [17]:
datainfo.get_data_types()

float64    40
object      4
int64       3
Name: count, dtype: int64

In [18]:
# Replace in object columns and convert to int
objects_columns_to_convert = data.select_dtypes(object).columns.to_list()
objects_columns_to_convert.remove("ISO3")
objects_columns_to_convert.remove("Date")

for column in objects_columns_to_convert:
    datacleaner.replace_in_string_to_int(column, " ", "")

In [19]:
data = datacleaner.data
datainfo = DataFrameInfo(data)

In [20]:
datainfo.get_percent_missing()

The dataset contains 0.0 % missing values.

In [21]:
datainfo.get_data_types()

float64           40
int64              5
datetime64[ns]     1
object             1
Name: count, dtype: int64

In [22]:
data.select_dtypes(float).columns

Index(['Cases', 'Deaths_df3', 'Deaths0_4', 'Deaths5_14', 'Deaths15_49',
       'Deaths50_69', 'Deaths70p', 'ITN', 'ITN Access Population (%)',
       'Precipitation', 'Min Temperature', 'Surface Temperature Change',
       'Access to electricity (% of population)',
       'Agricultural land (% of land area)', 'Agricultural land (sq. km)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Annual freshwater withdrawals, total (% of internal resources)',
       'Annual freshwater withdrawals, total (billion cubic meters)',
       'Arable land (% of land area)',
       'Average precipitation in depth (mm per year)',
       'CO2 emissions (kg per 2015 US$ of GDP)',
       'CO2 emissions (kg per 2017 PPP $ of GDP)',
       'CO2 emissions (kg per PPP $ of GDP)', 'CO2 emissions (kt)',
       'CO2 emissions (metric tons per capita)',
       'Cereal yield (kg per hectare)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Forest area (% of land area)', 'Forest area (sq. km)',
       'Methane emissions (kt of CO2 equivalent)',
       'Mortality rate, under-5 (per 1,000 live births)',
       'Nitrous oxide emissions (thousand metric tons of CO2 equivalent)',
       'Population growth (annual %)',
       'Population in urban agglomerations of more than 1 million (% of total population)',
       'Population, total',
       'Renewable energy consumption (% of total final energy consumption)',
       'Total greenhouse gas emissions (kt of CO2 equivalent)',
       'Urban population', 'Urban population (% of total population)_df9',
       'Urban population growth (annual %)_df9'],
      dtype='object')

In [23]:
data.select_dtypes(int).columns

Index(['Presumed cases', 'Total cases', 'Participated in MVIP',
       'Participated in RTS Trials', 'Participated in R21 Trials'],
      dtype='object')

In [24]:
datainfo.get_dimension()

 There are 115 rows and 47 columns

In [25]:
data.head()

,Date,Cases,Deaths_df3,Deaths0_4,Deaths5_14,Deaths15_49,Deaths50_69,Deaths70p,ITN,Presumed cases,...,Population in urban agglomerations of more than 1 million (% of total population),"Population, total",Renewable energy consumption (% of total final energy consumption),Total greenhouse gas emissions (kt of CO2 equivalent),Urban population,Urban population (% of total population)_df9,Urban population growth (annual %)_df9,Participated in MVIP,Participated in RTS Trials,Participated in R21 Trials
0,2000-12-31,603.210999,235.128065,874.845987,25.571181,62.627879,450.176799,717.149334,0.0,352587,...,7.749025,11882888.0,85.40,15984.91011,2120383.0,17.844,6.857565,0,0,0
1,2001-12-31,601.937744,256.009859,918.916428,27.686540,66.619251,469.845175,876.388458,0.0,352587,...,8.086915,12249764.0,85.49,15108.11122,2271106.0,18.540,6.867020,0,0,0
2,2002-12-31,595.852051,260.730606,958.846796,29.485652,72.230232,505.134949,743.621255,0.0,1188870,...,8.437518,12632269.0,85.43,15786.33044,2432722.0,19.258,6.874386,0,0,0
3,2003-12-31,585.123291,271.081041,965.412955,29.644367,72.615529,508.274478,881.413820,1.9,1443184,...,8.800698,13030591.0,85.30,19200.72446,2605597.0,19.996,6.865103,0,0,0
4,2004-12-31,562.411316,264.250419,925.186169,27.621911,71.165711,498.971133,873.945620,0.0,1528388,...,9.177370,13445977.0,85.31,19733.29397,2790981.0,20.757,6.873132,0,0,0

In [26]:
data.columns

Index(['Date', 'Cases', 'Deaths_df3', 'Deaths0_4', 'Deaths5_14', 'Deaths15_49',
       'Deaths50_69', 'Deaths70p', 'ITN', 'Presumed cases', 'Total cases',
       'ITN Access Population (%)', 'Precipitation', 'Min Temperature', 'ISO3',
       'Surface Temperature Change', 'Access to electricity (% of population)',
       'Agricultural land (% of land area)', 'Agricultural land (sq. km)',
       'Agriculture, forestry, and fishing, value added (% of GDP)',
       'Annual freshwater withdrawals, total (% of internal resources)',
       'Annual freshwater withdrawals, total (billion cubic meters)',
       'Arable land (% of land area)',
       'Average precipitation in depth (mm per year)',
       'CO2 emissions (kg per 2015 US$ of GDP)',
       'CO2 emissions (kg per 2017 PPP $ of GDP)',
       'CO2 emissions (kg per PPP $ of GDP)', 'CO2 emissions (kt)',
       'CO2 emissions (metric tons per capita)',
       'Cereal yield (kg per hectare)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Forest area (% of land area)', 'Forest area (sq. km)',
       'Methane emissions (kt of CO2 equivalent)',
       'Mortality rate, under-5 (per 1,000 live births)',
       'Nitrous oxide emissions (thousand metric tons of CO2 equivalent)',
       'Population growth (annual %)',
       'Population in urban agglomerations of more than 1 million (% of total population)',
       'Population, total',
       'Renewable energy consumption (% of total final energy consumption)',
       'Total greenhouse gas emissions (kt of CO2 equivalent)',
       'Urban population', 'Urban population (% of total population)_df9',
       'Urban population growth (annual %)_df9', 'Participated in MVIP',
       'Participated in RTS Trials', 'Participated in R21 Trials'],
      dtype='object')

### Inspecting extreme outlier values in country datasets

In [27]:
subdata = datacleaner.split_in_subframes("ISO3")

In [28]:
subdatacleaner = [DataFrameCleaner(frame) for frame in subdata]

In [29]:
print("Number of very extreme outlier values in BFA data:", subdatacleaner[0].manage_outlier(subdata[0].select_dtypes(include="number").columns).nb_outliers.sum())
print("Number of very extreme outlier values in GHA data:", subdatacleaner[1].manage_outlier(subdata[1].select_dtypes(include="number").columns).nb_outliers.sum())
print("Number of very extreme outlier values in KEN data:", subdatacleaner[2].manage_outlier(subdata[2].select_dtypes(include="number").columns).nb_outliers.sum())
print("Number of very extreme outlier values in MWI data:", subdatacleaner[3].manage_outlier(subdata[3].select_dtypes(include="number").columns).nb_outliers.sum())
print("Number of very extreme outlier values in NGA data:", subdatacleaner[4].manage_outlier(subdata[4].select_dtypes(include="number").columns).nb_outliers.sum())

Number of very extreme outlier values in BFA data: 0

Number of very extreme outlier values in GHA data: 0
Number of very extreme outlier values in KEN data: 1
Number of very extreme outlier values in MWI data: 0
Number of very extreme outlier values in NGA data: 0

In [30]:
subdatacleaner[2].manage_outlier(subdata[2].select_dtypes(include="number").columns, cat_values=True)

'Outliers in Average precipitation in depth (mm per year)'

,Date,Cases,Deaths_df3,Deaths0_4,Deaths5_14,Deaths15_49,Deaths50_69,Deaths70p,ITN,Presumed cases,...,Population in urban agglomerations of more than 1 million (% of total population),"Population, total",Renewable energy consumption (% of total final energy consumption),Total greenhouse gas emissions (kt of CO2 equivalent),Urban population,Urban population (% of total population)_df9,Urban population growth (annual %)_df9,Participated in MVIP,Participated in RTS Trials,Participated in R21 Trials
44,2000-12-31,216.795532,40.316853,170.093842,9.731429,10.931158,68.345402,87.586865,3.0,4216531,...,9.390928,30851606.0,78.15,35347.18812,6137001.0,19.892,4.64967,0,0,0

['Average precipitation in depth (mm per year)']

In [31]:
subdatacleaner[3].manage_outlier(subdata[3].select_dtypes(include="number").columns, cat_values=True)

[]

In [32]:
subdatacleaner[4].manage_outlier(subdata[4].select_dtypes(include="number").columns, cat_values=True)

[]

### Export this version of the data

In [36]:
data.to_csv("../data/cleaned/study_dataset.csv", index=False)